body {
  font-family: Arial;
  margin: 20px;
  background: #f4f4f4;
}

input,select,button {
  width:100%;
  padding:8px;
  margin:5px 0;
}

.item {
  background:white;
  padding:10px;
  margin:5px 0;
  display:flex;
  justify-content:space-between;
}